body {
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.78);
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}
.button:not(:first-child){
  margin-left: 20px
}

.button:focus {
  background-color: rgba(255, 0, 0, 0.1);
  outline: none;
}

@media (hover: hover) {
  .button:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.button--primary{
  background-color: rgba(255, 0, 0, 0.2);
}

.button--secondary{
  border-color: rgba(255, 0, 0, 0.2);
}

.editor-container {
  max-width: 300px;
  margin-bottom: 40px;
}

.ql-container {
  height: 50vh;
}
